{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Robert Bain's Django Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
            {% if posts|length == 0 %}
                {% for caption in post.caption.all %}

                a:hover .span-captions{{forloop.counter}}:before {
                    content:"{{caption}}";
                    color: rgba({{caption.color}},1);
                }

                .span-captions{{forloop.counter}} {
                    background: rgba({{caption.backcolor}},.4);
                }

                {% endfor %}
            {% endif %}
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1 id="blog-title"><a href="/">Robert Bain's Django Blog</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'logout' %}" id="logout-text">(Log out)</a>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="text-align-right">
            <a href="{% url 'login' %}" class="top-menu">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
        </div>
    </body>
</html>