<html>
    <head>
        <title>Robert Bain's Django Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Robert Bain's Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Can there be objective meaning if we all began as hydrogen and helium 13.7 billions years ago?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Just what the heck is consciousness? What natural laws create the illusion of self? #DeepStuff</p>
        </div>
    </body>
</html>