{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                {{ post.published_date }}
            </div>
            {% if post.thumbnail_path %}
            <a href="{% url 'post_detail' pk=post.pk %}">
                <picture>
                    <source media="(min-width: 900px)" srcset="{{post.thumbnail_path}}-1700_large_2x.jpg 2x, {{post.thumbnail_path}}-850_large_1x.jpg">
                    <source media="(min-width: 650px)" srcset="{{post.thumbnail_path}}-1800_mediun_3x.jpg 3x, {{post.thumbnail_path}}-1200_medium_2x.jpg 2x, {{post.thumbnail_path}}-600_mediun_1x.jpg">
                    <source srcset="{{post.thumbnail_path}}-380_small_1x.jpg, {{post.thumbnail_path}}-760_small_2x.jpg 2x, {{post.thumbnail_path}}-1140_small_3x.jpg 3x">
                    <img class="post-thumbnail" src="{{ post.thumbnail_path }}-1140_small_3x.jpg" alt="{{ post.alt_text }}">
                </picture>
            </a>
            {% endif %}
            <p>{{ post.text|striptags|linebreaks|truncatewords:100 }}</p>
            <p class="comments-text">Comments: {{ post.approved_comments.count }} <p>
        </div>
    {% endfor %}
{% endblock %}