.page-header {
    background-color: #ff9400;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
    border: 1px solid #000;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    
}

#header {
	display: inline-block;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    font-size: 1.6em;
    margin-bottom: 1em;
    font-style:italic; 
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000;
    margin-top: 30px;
    font-size: 26pt;
    margin-right: 5px;
}

.post {
    margin-bottom: 3.8em;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

#blog-title {
	margin: 15px 0;
	text-align: center;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.7);
}

.text-align-right {
	text-align: right;
	margin-top: 10px	;
}

#logout-text {
	font-size: 1.7em;
	color: gray;
}

.post-thumbnail {
	max-width: 100%;
    border-radius: 50px 0;
	max-height: 320px;
}

.post-image {
	max-width: 100%;
	max-height: 320px;
	border-radius: 50px 0;
	transition: border-bottom-right-radius .5s;
}

.add-comment-btn {
	margin-bottom: 1em;
}

p {
	font-size: 1.3em;
	font-family: bookman;
	margin: 10px 0;
	text-align: justify;
    text-justify: distribute;
}

body {
	font-size: unset;
}

.comments-text {
	color: #877;
}

a:hover>.post-image {
    border-bottom-right-radius: 0;
}

.a-captions {
	position: relative;
	display: inline-block;
}

[class*="span-captions"] {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: justify;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:hover [class*="span-captions"] {
	display: block;
}

/*a:hover .span-captions:before {
	color:yellow;
	content:"BANANA";
}*/
